{% extends "admin/change_list.html" %}

{% block content %}

<h2 style="margin-bottom:15px;">Dashboard Statistik Laporan Bullying</h2>

<!-- SUMMARY -->
<div style="display:flex; gap:20px; margin-bottom:20px; flex-wrap:wrap;">

  <div class="admin-card">Total Laporan <b>{{ total_laporan }}</b></div>
  <div class="admin-card">Baru <b>{{ laporan_baru }}</b></div>
  <div class="admin-card">Diproses <b>{{ diproses }}</b></div>
  <div class="admin-card">Selesai <b>{{ selesai }}</b></div>

</div>

<!-- GRAFIK -->
<div style="display:grid; grid-template-columns:1fr 1fr; gap:25px;">

  <div class="admin-card chart-box">
    <canvas id="statusChart"></canvas>
  </div>

  <div class="admin-card chart-box">
    <canvas id="jenisChart"></canvas>
  </div>

  <div class="admin-card chart-box">
    <canvas id="kelasChart"></canvas>
  </div>

  <div class="admin-card chart-box">
    <canvas id="trenChart"></canvas>
  </div>

</div>

<hr>

{{ block.super }}

<style>
.admin-card{
    background:white;
    padding:15px 20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
    font-size:15px;
}

.chart-box{
    height:300px;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
function createChart(id, type, labels, data){

    new Chart(document.getElementById(id), {
        type: type,
        data: {
            labels: labels,
            datasets: [{
                data: data
            }]
        },
        options:{
            responsive:true,
            maintainAspectRatio:false
        }
    });
}
</script>

<script>
createChart(
    "statusChart",
    "pie",
    [{% for i in grafik_status %}"{{ i.status }}",{% endfor %}],
    [{% for i in grafik_status %}{{ i.total }},{% endfor %}]
);
</script>

<script>
createChart(
    "jenisChart",
    "bar",
    [{% for i in grafik_jenis %}"{{ i.jenis_bullying }}",{% endfor %}],
    [{% for i in grafik_jenis %}{{ i.total }},{% endfor %}]
);
</script>

<script>
createChart(
    "kelasChart",
    "bar",
    [{% for i in grafik_kelas %}"{{ i.kelas_korban }}",{% endfor %}],
    [{% for i in grafik_kelas %}{{ i.total }},{% endfor %}]
);
</script>

<script>
createChart(
    "trenChart",
    "line",
    [{% for i in grafik_tren %}"{{ i.waktu|date:'M Y' }}",{% endfor %}],
    [{% for i in grafik_tren %}{{ i.total }},{% endfor %}]
);
</script>

{% endblock %}
