{% extends "base_auth.html" %}
{% load static %}

{% block title %}Lupa Password | SMP N 1 Madang Suku III{% endblock %}

{% block content %}
<section class="auth-hero">
  <div class="forgot-card text-center">

    <img src="{% static 'img/logo.png' %}" class="login-logo mb-3" alt="Logo">

    <h2 class="login-title">Lupa Password</h2>

    <form method="POST" class="text-start mt-4">
      {% csrf_token %}

      <div class="mb-4">
        <label class="form-label">Masukkan NIS</label>
        <input type="text" name="nis" class="form-control custom-input" required>
      </div>

      <button type="submit" class="btn btn-login w-100">Kirim</button>
    </form>

    {% if messages %}
      <div class="mt-3">
        {% for message in messages %}
          <p class="text-danger small mb-1">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</section>
{% endblock %}
