{% extends "base_public.html" %}
{% load static %}

{% block title %}Lupa Password | SMP N 1 Madang Suku III{% endblock %}
{% block body_class %}auth-body{% endblock %}
{% block content %}

<!-- ================= HERO LUPA PASSWORD ================= -->
<section class="auth-hero auth-page">
  <div class="forgot-card text-center">

    <!-- LOGO -->
    <img src="{% static 'img/logo.png' %}" class="login-logo mb-3" alt="Logo">

    <h2 class="login-title">Lupa Password</h2>

    <!-- ================= FORM ================= -->
    <form method="POST" class="text-start mt-4">
      {% csrf_token %}

      <div class="mb-4">
        <label class="form-label">Masukan NIS</label>
        <input
          type="text"
          name="nis"
          class="form-control custom-input"
          placeholder="NIS"
          required
        >
      </div>

      <button type="submit" class="btn btn-login w-100">
        Kirim
      </button>
    </form>

    <!-- ================= MESSAGE ================= -->
    {% if messages %}
      <div class="mt-3">
        {% for message in messages %}
          <p class="text-danger small mb-1">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</section>

{% endblock %}
