{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}

<h2>Dashboard Analitik Bullying</h2>

<div style="display:flex; gap:20px; margin-bottom:20px;">

<div>Total: {{ total_laporan }}</div>
<div>Baru: {{ laporan_baru }}</div>
<div>Diproses: {{ sedang_diproses }}</div>
<div>Selesai: {{ selesai }}</div>

</div>

<form method="get">

<select name="jenis">
<option value="">Semua Jenis</option>
{% for val,label in jenis_choices %}
<option value="{{ val }}">{{ label }}</option>
{% endfor %}
</select>

<select name="kelas">
<option value="">Semua Kelas</option>
{% for val,label in kelas_choices %}
<option value="{{ val }}">{{ label }}</option>
{% endfor %}
</select>

<select name="status">
<option value="">Semua Status</option>
<option value="baru">Baru</option>
<option value="diproses">Diproses</option>
<option value="selesai">Selesai</option>
</select>

<button type="submit">Filter</button>
</form>

<hr>

<canvas id="statusChart" height="120"></canvas>
<canvas id="jenisChart" height="120"></canvas>
<canvas id="kelasChart" height="120"></canvas>
<canvas id="trenChart" height="120"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

new Chart(document.getElementById("statusChart"), {
type:'pie',
data:{
labels:[{% for i in grafik_status %}"{{ i.status }}",{% endfor %}],
datasets:[{
data:[{% for i in grafik_status %}{{ i.total }},{% endfor %}]
}]
}
});

</script>

{% endblock %}
